USE [WR_MarketData]
GO
/****** Object:  StoredProcedure [dbo].[LBMA_AddPricesToSettlementTables]    Script Date: 02/10/2025 08:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		WinRisk MR
-- Create date: 2025-07-15
-- Description:	Add LBMA Metals Prices to Current Prices and to Settlement Prices tables
-- exec LBMA_AddPricesToSettlementTables '2025-10-01','USD','EOD', 1
-- exec LBMA_AddPricesToSettlementTables '2025-10-02','USD','EOD', 0
-- =============================================
ALTER PROCEDURE [dbo].[LBMA_AddPricesToSettlementTables] 
	@PriceDate Date
	,@Currency Varchar(3)
	,@SnapshotSetCode varchar(6)
	,@EOD bit -- 0 just adds to live prices, 1 adds to live prices and end of day Settlement prices
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		-- Check for latest set if @SnapshotSetCode = 'Latest'
		-- LBMA_SettlementsLive only ever contains one price set and is the latest set of values.

		declare @SpotDate Date = (select [dbo].[CAL_LMECashDate](@PriceDate)), @RowCount int, @RowCount2 int  
		--declare @SpotBid decimal(18,4),@SpotAsk decimal(18,4)

		Create table #LBMAData([PriceDate] [date],[Commodity] [varchar](5),	[Currency] [varchar](3),[SnapshotSetCode] [varchar](50),
			[MaturityDate] [date] ,[Bid] [decimal](18, 4),[Ask] [decimal](18, 4) )
		-- The SPOT data price line is not in the data for date list. These are created from the fields SpotBid and SpotAsk within each price line
		insert #LBMAData
		select [PriceDate] ,[Commodity] ,[Currency],[SnapshotSetCode],@SpotDate, [SpotBid],[SpotAsk]
		FROM [dbo].[STX_ForwardPrices]
		where PriceDate = @PriceDate and Commodity in ('XAG','XAU','XPD','XPT') and SnapshotSetCode = @SnapshotSetCode
		group by [PriceDate] ,[Commodity] ,[Currency],[SnapshotSetCode],[SpotBid],[SpotAsk]
		-- get rest of dates
		insert #LBMAData
		SELECT [PriceDate] ,[Commodity] ,[Currency],[SnapshotSetCode],[MaturityDate], [Bid],[Ask]
				FROM [dbo].[STX_ForwardPrices]
				where PriceDate = @PriceDate and Commodity in ('XAG','XAU','XPD','XPT') and SnapshotSetCode = @SnapshotSetCode
		select @Rowcount  = count(*) from #LBMAData
		IF(@RowCount>0) DELETE from [dbo].[LBMA_SettlementsLive] where Commodity in ('XAG','XAU','XPD','XPT')
		
		--Add CME
		insert #LBMAData
		SELECT [PriceDate] ,[Commodity] ,[Currency],[SnapshotSetCode],[ExpiryDate], [Bid],[Ask]
		FROM [dbo].[STX_FuturePrices]
		where PriceDate = @PriceDate and Commodity in ('GC','SI','PA','PL')and SnapshotSetCode = @SnapshotSetCode
		select @Rowcount2  = count(*) from #LBMAData
		if(@Rowcount2>@RowCount) DELETE from [dbo].[LBMA_SettlementsLive] where Commodity in ('GC','SI','PA','PL')
		-- Add to Live DataTable
		    
			insert [dbo].[LBMA_SettlementsLive]
			select PriceDate,Commodity,Currency,SnapshotSetCode,MaturityDate,Bid,Ask 
			from #LBMAData order by Commodity,SnapshotSetCode,[MaturityDate] 
		-- if @EOD is 1 the data must be added to the table holding the settlement price history
		if(@EOD = 1)
		Begin
			if(@RowCount>0) DELETE from [dbo].[LBMA_Settlements] where Commodity in ('XAG','XAU','XPD','XPT') and PriceDate = @Pricedate
			if(@RowCount2>@RowCount) DELETE from [dbo].[LBMA_Settlements] where Commodity in ('GC','SI','PA','PL') and PriceDate = @Pricedate
			INSERT [dbo].[LBMA_Settlements]
			select PriceDate,Commodity,Currency,SnapshotSetCode,MaturityDate,Bid,Ask 
			from #LBMAData order by Commodity,SnapshotSetCode,[MaturityDate]
		End

END
