USE [WR_MarketData]
GO
/****** Object:  StoredProcedure [dbo].[LBMA_AddVolsToWINPTables]    Script Date: 04/10/2025 09:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		WinRisk MR
-- Create date: 2025-07-15
-- Description:	Add LBMA Metals Prices to Current Prices and to Settlement Prices tables
-- exec LBMA_AddVolsToWINPTables '29-Sep-2025','USD','EOD',1 -- =============================================
--

ALTER PROCEDURE [dbo].[LBMA_AddVolsToWINPTables] 
	@PriceDate Date
	,@Currency Varchar(3)
	,@SnapshotSetCode varchar(5)
	,@EOD bit -- 0 just adds to live Vols, 1 adds to live prices and end of day Settlement vols
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	    
		-- Live Prices
		declare @RowCount int; 
		if( @SnapshotSetCode = 'Latest') select @SnapshotSetCode = Max(SnapshotSetCode) from STX_DeltaVols where Len(SnapshotSetCode)=4
		and PriceDate=@PriceDate
		DELETE from [dbo].[LBMA_5_DeltaVolsLive] where Commodity in ('XAG','XAU','XPD','XPT','GC','SI','PA','PL')		
		CREATE TABLE #DeltaVols
				([PriceDate] [date] NOT NULL,
				[Commodity] [varchar](5) NOT NULL,
				[Currency] [varchar](3) NOT NULL,
				[ExpiryDate] [date] NOT NULL,
				[SnapshotSetCode] [varchar](50) NOT NULL,
				[PutDelta10] [decimal](6, 3) NULL,
				[PutDelta25] [decimal](6, 3) NULL,
				[PutDelta50] [decimal](6, 3) NULL,
				[PutDelta75] [decimal](6, 3) NULL,
				[PutDelta90] [decimal](6, 3) NULL
			) ON [PRIMARY]

		insert #DeltaVols 		 
		select [PriceDate],[Commodity],[Currency],ExpiryDate,[SnapshotSetCode]
		,max (Case when Delta = '10P' then ImpliedVol end) PutDelta10
		,max (Case when Delta = '25P' then ImpliedVol end) PutDelta25
		,max (Case when Delta = 'ATM' then ImpliedVol end) PutDelta50
		,max (Case when Delta = '25C' then ImpliedVol end) PutDelta75
		,max (Case when Delta = '10C' then ImpliedVol end) PutDelta90
		FROM [WR_MarketData].[dbo].[STX_DeltaVols] 
		where pricedate=@PriceDate and Commodity in ('XAG','XAU','XPD','XPT','GC','SI','PA','PL') and  SnapshotSetCode=@SnapshotSetCode
		  and Delta in ('10P','25P', 'ATM','25C','10C') 
		group by [PriceDate],[Commodity],[Currency],[SnapshotSetCode],ExpiryDate
		
		-- check new data avaiable
		
		select @RowCount =count(*) from #DeltaVols 
		if(@RowCount>0)
			Begin
				DELETE from [dbo].[LBMA_5_DeltaVolsLive] where Commodity in ('XAG','XAU','XPD','XPT','GC','SI','PA','PL')
				insert [dbo].[LBMA_5_DeltaVolsLive]
				select * from #DeltaVols where ([PutDelta10]*[PutDelta25]*[PutDelta50]*[PutDelta75]*[PutDelta90]) is not null
				order by PriceDate,ExpiryDate
			End
	
	if(@EOD=1) --Settlements Table
		Begin
		    Truncate table #DeltaVols
			
			insert #DeltaVols 		 
			select [PriceDate],[Commodity],[Currency],ExpiryDate,[SnapshotSetCode]
			,max (Case when Delta = '10P' then ImpliedVol end) PutDelta10
			,max (Case when Delta = '25P' then ImpliedVol end) PutDelta25
			,max (Case when Delta = 'ATM' then ImpliedVol end) PutDelta50
			,max (Case when Delta = '25C' then ImpliedVol end) PutDelta75
			,max (Case when Delta = '10C' then ImpliedVol end) PutDelta90
			FROM [WR_MarketData].[dbo].[STX_DeltaVols] 
			where pricedate=@PriceDate and Commodity in ('XAG','XAU','XPD','XPT','GC','SI','PA','PL') and  SnapshotSetCode=@SnapshotSetCode
			  and Delta in ('10P','25P', 'ATM','25C','10C')
			group by [PriceDate],[Commodity],[Currency],[SnapshotSetCode],ExpiryDate
			
			
			select @RowCount = count(*) from #DeltaVols 
			if(@RowCount>0)
				Begin
					DELETE from [dbo].[LBMA_5_DeltaVols] where Commodity in ('XAG','XAU','XPD','XPT','GC','SI','PA','PL')
					and PriceDate = @Pricedate
				
					insert [dbo].[LBMA_5_DeltaVols]
					select * from #DeltaVols where ([PutDelta10]*[PutDelta25]*[PutDelta50]*[PutDelta75]*[PutDelta90]) is not null
					order by PriceDate,ExpiryDate
				End	
			End


END
