USE [WR_MarketData]
GO
/****** Object:  StoredProcedure [dbo].[LBMA_UpdateVolsPrices_Morning_Evening]    Script Date: 29/09/2025 23:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		WinRisk MGR
-- Create date: 01-Sep-2025
-- Description:	Loads the Refinitiv LBMA and CME Prices and Vols into WinPort System 
-- exec [dbo].[LBMA_UpdateVolsPrices_Morning_Evening] '2025-10-03',0
-- exec [dbo].[LBMA_UpdateVolsPrices_Morning_Evening] '2025-10-02',1
-- =============================================
ALTER PROCEDURE [dbo].[LBMA_UpdateVolsPrices_Morning_Evening]
	@PriceDate Date, @MorningEvening int -- 0 for morning 1 for Evening	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	/*
	Morning only the new prices are saved to Price and Vol Tables runs at 8:05 to get
	the data that is published for 08:00
	*/
	if (@MorningEvening = 0)
	Begin
		exec [dbo].[LBMA_AddPricesToSettlementTables] @PriceDate,'USD','0800',0
		exec [dbo].[LBMA_AddVolsToWINPTables] @PriceDate,'USD','0800',0
	End
	/*
	Evening the new prices are saved to Price and Vol Tables to the live price table and the Settlement price table
	runs at 17:45 to get the CME Closing prices and the Corresponding LBMA prices and Vols 
	*/
	else
	Begin
		exec [dbo].[LBMA_AddPricesToSettlementTables] @PriceDate,'USD','EOD',1
		exec [dbo].[LBMA_AddVolsToWINPTables] @PriceDate,'USD','EOD',1
	End
END
